.hero-container {
  background-color: white;
}

.right-col {
  margin-right: 1%;
}

.profileIMG {
  width: 70%; /* Default for full screen */
}

@media (max-width: 768px) {
  /* Adjust when the screen width is below 768px */
  .profileIMG {
    width: 90%;
  }
}